:host {
  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: var(--blackscore-color-black-2);
    font-weight: 600;
    margin: 0 20px;

    .app-name {
      font-size: var(--blackscore-font-size-subtitle-2);
      letter-spacing: 1px;

      span:first-child {
        color: var(--blackscore-color-black-1);
      }

      span:last-child {
        color: var(--blackscore-color-text-1);
      }
    }

    #twitter-logo {
      height: 40px;
      margin-right: 8px;
    }

    #youtube-logo {
      height: 40px;
    }

    #twitter-logo,
    #youtube-logo {
      fill: black;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
