:root {
  /* Colors */
  --blackscore-color-black-1: #000;
  --blackscore-color-black-2: #111;
  --blackscore-color-white: #eee;
  --blackscore-color-green-1: #256147;
  --blackscore-color-green-2: #1f5039;
  --blackscore-color-text-1: #ddd;
  --blackscore-color-text-2: #ccc;

  /* Font-sizes */
  --blackscore-font-size-title: 28px;
  --blackscore-font-size-subtitle-1: 24px;
  --blackscore-font-size-subtitle-2: 20px;
  --blackscore-font-size-body-1: 15px;
  --blackscore-font-size-body-2: 13px;
  --blackscore-font-size-small: 11px;
}
