/* You can add global styles to this file, and also import other style files */
@import "root.scss";

body {
  background-color: var(--blackscore-color-green-1);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--blackscore-font-size-body-2);
  color: var(--blackscore-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:visited,
a:hover {
  color: var(--blackscore-color-green-1)
}
