.content-wrapper {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  align-items: center;
  justify-content: space-evenly;

  router-outlet + * {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
